# EditorConfig configuration file
# See https://editorconfig.org for additional information

# Root marker for EditorConfig
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Specific settings for Nix files
[*.nix]
indent_style = space
indent_size = 2

# Specific settings for shell scripts
[*.sh]
indent_style = space
indent_size = 2
